body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ced3dd;
}

.barra {
    padding: 0 200px;
}

h1 {
    text-align: center;
    background-color: #995f5f;
    color: #fff;
    padding: 20px;
    margin: 0;
}

h2 {
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 20px 0;
}

strong {
    color: #333;
}

p {
    margin: 15px;
    line-height: 1.5;
}

figure {
    text-align: center;
}

figcaption {
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}