body {
  background-color: #ced3dd;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.barra {
  padding: 0 200px;
}

h1 {
  text-align: center;
  background-color: #995f5f;
  color: #fff;
  padding: 20px;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

a {
  color: #007BFF;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}


iframe {
  display: block;
  margin: 20px 0;
}